

    <!-- User logged in -->
    <div class="box" *ngIf="auth.currentUser">
    Username:
         {{auth.authState.email|| 'Anonymous User'}}
        <p class="text-truncate"></p>
        <button class="button" (click)="logout()">Logout</button>

   </div>

    <!-- User NOT logged in -->
    <div class="box" *ngIf="!auth.currentUser">
        <h3>Howdy, {{ auth.currentUserDisplayName }}</h3>
        <p class="card-text">Login to get started...</p>
        <button class="button" routerLink="/login">Login</button>

    </div>
<div class="columns ">
	<div class="column is-2 is-offset-1">
		<div>Font</div>
		<div>Background</div>
		<div>Border</div>
	</div>

	<div class="column" >
		<div>
			<input id="fontColor" [(colorPicker)]="Timeline.fontColor"
				[style.background]="fontColor" [value]="fontColor" />
		</div>
		<div>
			<input id="bgColor" [(colorPicker)]="Timeline.bgColor"
				[style.background]="bgColor" [value]="bgColor" />
		</div>
		<div>
			<input id="brdColor" [(colorPicker)]="Timeline.brdColor"
				[style.background]="brdColor" [value]="brdColor" />
		</div>
	</div>

</div>