

<!-- User logged in -->
<div class="box" *ngIf="auth.currentUser">
	Username: {{auth.authState.email|| 'Anonymous User'}}
	<p class="text-truncate"></p>
	<br>

	
<div></div>
<!-- User NOT logged in -->
<div class="box" *ngIf="!auth.currentUser">
	<h3>Howdy, {{ auth.currentUserDisplayName }}</h3>
	<p class="card-text">Login to get started...</p>
	<button class="button" routerLink="/login">Login</button>

</div>

				
	<br>
	<div class="column" *ngIf="Location.path() == '/items'">
		<button class="button" routerLink="/timeline">
			<md-icon>Show Timeline</md-icon>
		</button>
	</div>
	<div class="column is-1" *ngIf="Location.path() == '/timeline'">
		<button class="button" routerLink="/items">
			<md-icon>Create/Edit Item(s)</md-icon>
		</button>
	</div>
	</div>
