<h1><a id="FireStarter__Angular4__Firebase_Starter_App_0"></a>TimePlan alpha v.0.7.1</h1>
<p>TimePlan is a tool to visualize project plans.</p>
<b>Get started: </b><a  ref="/items">Create your items </a>(login required)
<br>
<br>
<div class="column is-half">
<md-tab-group>
  <md-tab label="About">
    Timeplan by Danny Merkel
  </md-tab>
  <md-tab  label="Release Notes">
  <b>Release Date:</b> 12.09.2017<br>
<ul>
<li>Simple color picker</li>
</ul>
<br>
 <b>Release Date: </b> 11.09.2017<br>

<ul>
<li> Edit Timeline items</li>
<li> Simple color changer 1-click</li>
 <li>Auto-complete groups</li>
 <li>PNG + PPT export</li>
 <li>Automatic group coloring</li>
 <li>Adjusted layout and Style </li>
</ul>
  </md-tab>
  <md-tab  label="Know Issues">
  Known Issues: <br>
<ul>

<li>Limited support for IE(PNG Export not working)</li>


</ul>
  </md-tab>
</md-tab-group>
</div>
<br>
 

