<h1>
	<a id="FireStarter__Angular4__Firebase_Starter_App_0"></a>TimePlan
	alpha v.0.7.4
</h1>
<div class="column is-half">
	<md-tab-group> <md-tab label="About"> <br>
	<p>TimePlan is a tool to visualize project plans.</p>
	<b>Get started: </b>
	<a routerLink="/items">Create your items </a>(login required) </md-tab> <md-tab
		label="Release Notes"> <br>
		<b>Release Date:</b> 12.10.2017<br>
		<ul>
		<li>UI improvements. thanks Tobi</li>
		</ul>
	<b>Release Date:</b> 09.10.2017<br>
		<ul>
		<li>Filter timeline based on groups</li>
		<li>Sorting of data table</li>
		<li>Moved color picker</li>
	</ul>
		<b>Release Date:</b> 03.10.2017<br>
		<ul>
		<li>Sort groups for output</li>
		<li>Export items to excel</li>
		<li>Margin adjustments</li>
	</ul>
		
	<b>Release Date:</b> 14.09.2017<br>
	<ul>
		<li>Small nav adjustments</li>
	</ul>
	<b>Release Date:</b> 12.09.2017<br>
	<ul>
		<li>Simple color picker</li>
	</ul>
	<br>
	<b>Release Date: </b> 11.09.2017<br>

	<ul>
		<li>Edit Timeline items</li>
		<li>Simple color changer 1-click</li>
		<li>Auto-complete groups</li>
		<li>PNG + PPT export</li>
		<li>Automatic group coloring</li>
		<li>Adjusted layout and Style</li>
	</ul>
	</md-tab> <md-tab label="Know Issues"> Known Issues: <br>
	<br>

	<ul>

		<li>Limited support for IE(PNG Export not working)</li>


	</ul>
	</md-tab> </md-tab-group>
</div>
<br>


