
      <h1 class="title">
Create new Timeplan items      </h1>
   
<br>
<div class="columns">
	<div class="column is-2"><b>Topic:</b></div>
	<div class="column">
		<input placeholder="Item Topic" class="input is-info" [(ngModel)]="item.topic"
			required minlength="2" maxlength="23" #topic='ngModel' autofocus>
	</div>

</div>

<div class="columns">
	<div class="column is-2"><b>Group:</b></div>
	<div class="column">
		<input placeholder="Item Group" class="input  is-info" [(ngModel)]="item.group"
			 minlength="2" maxlength="23" #topic='ngModel' autofocus>
	</div>

</div>
<div class="columns">
	<div class="column is-2"><b>From:</b></div>
	<div class="column is-2">
		<md-input-container id="start"> <input mdInput
			[mdDatepicker]="picker" placeholder="Choose a date"
			[(ngModel)]="item.startDate" required #topic='ngModel'>
		<button mdSuffix [mdDatepickerToggle]="picker" ></button>
		</md-input-container>
		<md-datepicker #picker startView="year" [startAt]="item.startDate"></md-datepicker>
	</div>


	<div class="column is-1 is-offset-1">
		<b>To:</b><br> 
	</div>
	<div class="column is-2">
		<md-input-container id="stop"> <input mdInput
			[mdDatepicker]="stopPicker" 
			[(ngModel)]="item.stopDate" placeholder="Choose a date" >
		<button mdSuffix [mdDatepickerToggle]="stopPicker" ></button>
		</md-input-container>
		<md-datepicker #stopPicker startView="year" [startAt]="item.startDate"></md-datepicker>
	</div>
	<div class="column is-2 is-offset-1 " >
<button md-raised-button (click)='createItem()'
	[disabled]="!topic.valid">
	<md-icon>Create</md-icon>
</button><div *ngIf="topic.dirty">
	<span *ngIf='topic.errors; then errors else valid'>template
		renders here...</span>
		</div></div>
</div>



	
		
<ng-template #valid>
<p class="help is-success">looks good!</p>
</ng-template>

<ng-template #errors>
<p class="help is-danger">Please provide a topic and a date!</p>
</ng-template>


