.card { margin-bottom: 10px; padding: 10px; }
.mat-raised-button {
background-color: #273296 ;
color: white;

}
.md-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}
div {
 
    display: flex;
    align-items: center;

}
