

<item-form></item-form>

<h2 >Items List</h2>


<table>
   <thead>
     <tr>
     
<!--      <th>Key</th> -->
     <th>Topic</th>
     <th>Group</th>
     <th>Duration</th>
     <th>Color</th>
     <th>Button</th>
     
     </tr>

</thead>

<tbody *ngFor="let item of items | async">
<!--    <td> {{item.$key}}</td> -->
 <tr> <td> {{item.topic ||''}}</td>
<td>{{item.group || ''}}</td>
<td> {{item.startDate| date: 'dd.MM.yyyy'}} <div *ngIf="item.stopDate">{{ item.stopDate | date: 'dd.MM.yyyy'}}</div>  </td>
<td>{{item.style|| 'default'}}</td>
 <td><span class="button"  (click)='dItem(item.$key)' >Delete</span></td>
    
 </tr>
  </tbody>

    
</table>

	


<button md-raised-button (click)='deleteItem()' >Delete Entire List</button>
